.headerTemplateBox {
  height: 100%;
}

.leftMenuTemplateBox {
  display: flex;
  .leftMenuSider {
    background: #f0f2f5;
    height: 100vh;
    .leftMenuBox {
      display: flex;
      flex-direction: column;
      width: 160px;
      color: rgba(0, 0, 0, 0.5);
      max-height: 100vh;
      .preMenu {
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 0.65em;
        font-size: 16px;
      }
      .preMenu:hover {
        background: rgba(0, 0, 0, 0.15);
      }
      .selectedStyle {
        color: rgba(0, 0, 0, 0.75);
        background: #dddddd;
      }
    }
  }
  .ant-layout-content {
    background: #ffffff;
  }
}
