.headerTemplateBox {
  height: 100%;
}

.leftMenuTemplateBox {
  display: flex;
  .leftMenuSider {
    background: #f0f2f5;
    .leftMenuBox {
      display: flex;
      flex-direction: column;
      width: 160px;
      min-height: 100vh;
      max-height: 100vh;
      padding: 20px 0 40px 0;
      color: rgba(0, 0, 0, 0.5);
      overflow-x: hidden;
      overflow-y: auto;
      .preMenu {
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 0.65em;
        font-size: 16px;
      }
      .preMenu:hover {
        background: rgba(0, 0, 0, 0.15);
      }
      .selectedStyle {
        color: rgba(0, 0, 0, 0.75);
        background: #dddddd;
      }
    }
  }
  .leftMenuSider > div,
  .leftMenuSider > div > div {
    height: 100%;
  }
}
